body {
  font-family: "Lato", sans-serif;
  color: rgb(77, 77, 77);
}
h1 {
  font-size: 60px;
}
section {
  display: flex;
  margin-top: 100px;
}
.half-width {
  width: 50%;
  padding-left: 5%;
}
.heading {
  margin-top: 60px;
}
.half-width img {
  width: 90%;
}

.link-btn {
  text-decoration: none;
  padding: 20px 50px;
  background-image: linear-gradient(45deg, orange, tomato);
  border-radius: 30px;
  color: white;
  font-weight: 700;
}
.orange-highlighter {
  color: orange;
}
