body {
  font-family: "Lato", sans-serif;
  margin: 0;
}
h1,
h2 {
  font-size: 60px;
  color: rgb(77, 77, 77);
}
h2 {
  font-size: 40px;
}
h3 {
  color: rgb(115, 115, 115);
}
p {
  font-size: 20px;
}
.flexible-container {
  display: flex;
  margin-bottom: 100px;
}
.half-width {
  width: 50%;
  padding-left: 5%;
}
.heading {
  margin-top: 70px;
}
.half-width img {
  width: 100%;
}
.about-me {
  background-image: url(images/shapes/7.png);

  background-repeat: no-repeat;
  background-size: 100%;
}
.half-width .profile-img {
  width: 50%;
  margin-top: 50px;
  margin-left: 100px;
}
.about-me-info {
  margin-top: 150px;
  padding-right: 50px;
}

.link-btn {
  text-decoration: none;
  padding: 20px 50px;
  background-image: linear-gradient(45deg, orange, tomato);
  border-radius: 30px;
  color: white;
  font-weight: 700;
}
.orange-highlighter {
  color: orange;
}
.recipies-heading {
  text-align: center;
}
.recipies-heading p {
  margin-left: 25%;
  width: 706px;
  text-align: justify;
}
